/* @override 
	http://0.0.0.0:4000/css/main.css */

/* ========= */
/* = RESET = */
/* ========= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* ============ */
/* = ELEMENTS = */
/* ============ */


/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#696A6A;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
	background: -webkit-radial-gradient(ellipse farthest-corner, #6e6d6d 0%, #000000 100%) #474747;
	background: -moz-radial-gradient(ellipse farthest-corner, #6e6d6d 0%, #000000 100%) #474747;
	background: -ms-radial-gradient(ellipse farthest-corner, #6e6d6d 0%, #000000 100%) #474747;
	background: radial-gradient(ellipse farthest-corner, #6e6d6d 0%, #000000 100%) #474747;
  
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#696A6A;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2, h3, h4 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
}

h5, h5 {
  font-size: 18px;
}

p {
  margin: 10px 0 15px 0;
}

a {
  text-decoration: none;
  color: #63aedc;

  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: none;
}

menu {
  margin-left: -10px;
  margin-bottom: -10px;
}

menu li {
  display: inline;
}

menu li a {
  display: inline-block;
  padding: 10px;
  margin: 0;
}


/* ========= */
/* = THEME = */
/* ========= */

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 0;
  margin: 0 auto;
}

#hero {
	background: url(images/hero.png) left top no-repeat;
	height: 200px;
	width: 200px;
	position: absolute;
	left: -200px;
	top: -30px;
  	background-size: 100%;
  	transition: transform 0.5s ease-in-out;
  	-webkit-transition: -webkit-transform 0.5s ease-in-out;
}

#header {
  margin: 0;
  padding: 40px 0 0;
}

#header a {
  color: #fff;
}

#header a:hover #hero {
  transform: scale(1.02);
  transform: rotate(2deg);
  -webkit-transform: scale(1.02);
  -webkit-transform: rotate(2deg);
}

#header a h1.title {
  color: #fff;
}

#header a:hover h1.title {
  color: #2f94d2;
}

#menu-main {
  margin: 0;
  background-color: #63aedc;
}

#menu-main menu.inner {
	position: relative;
	left: -10px;
}

a#github-fork {
  position: absolute; 
  top: 0; 
  right: 0; 
  padding: 0;
}

a#github-fork img {
	border: none;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
}

#menu-main a {
  color: #212121;
}

#menu-main a:hover {
  color: #fff;
}

#title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
}

#tagline {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  background: none;
}

#main {
  background: #f2f2f2;
  padding: 40px 0;
}

#main a {
  text-decoration: underline;
}

#main a:hover {
  color: #0069ba;
}


#main li {
  display: list-item;
  margin-left: 20px;
  list-style: disc;
	list-style-position: outside;
}


#footer {
  color: #f2f2f2;
  padding: 40px 0;
}

#footer h4 {
  color: #f2f2f2;
}

#footer a:hover {
  color: #43adff;
}

/* ======================= */
/* = Small Device Styles = */
/* ======================= */

@media screen and (max-width: 800px) {

  body {
    font-size:14px;
  }
  
  #hero {
		background: url(images/hero.png) left top no-repeat;
		height: 80px;
		width: 80px;
		position: relative;
		left: 0;
		right: 0;
		top: 0;
		background-size: 100%;
		margin: -20px 0 0 -10px;
  }

  .inner {
    padding: 0 80px;
  }

}

@media screen and (max-width: 600px) {

  body {
    font-size:14px;
  }
  
	#hero {
		background: url(images/hero.png) left top no-repeat;
		height: 80px;
		width: 80px;
		position: relative;
		left: 0;
		right: 0;
		top: 0;
		background-size: 100%;
		margin: -20px 0 0 -10px;
	}
  
  h2#tagline, a#github-fork img {
  	display: none;
  }

  .inner {
    padding: 0 20px;
  }

  #title {
    font-size: 14px;
  }
  
  menu li {
    display: block;
  }
  
  menu li a {
    display: block;
    padding: 10px;
  }

  h1, h2 {
    font-size: 24px;
  }

  h3,h4,h5,h6 {
    font-size: 14px;
  }

  code, pre {
    font-size: 11px;
  }

}